#ChoosePetPanel {
    -fx-background-image: url("../bg_pet_selecting.png");
    /*-fx-effect: dropshadow(three-pass-box, black, 60, 1, 0, 0);*/
}

.label{
    -fx-font-size: 12px;
    -fx-font-family: "Comic Sans MS";
}

.PetTabs
{
    -fx-padding: 0 -1 -1 -1;
}

.PetTabs .tab
{
    -fx-pref-width: 235;
    -fx-transition: 0.3s;
}

.PetTabs .tab-header-background {
    -fx-background-color: transparent;
}

.PetTabs .tab:selected
{
    -fx-background-color: #F0E442;
    -fx-font-weight: bold;
}

.PetTabs .tab:hover
{
    -fx-background-color: #5E5908;

}

.PetTabs .tab-label
{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 12px;
    -fx-alignment: center-right;

}

.PetPanes {
    -fx-background-color: white;
    -fx-opacity: 0.8;
}

.PetButtons .button{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    /*-fx-padding: 0;*/
    -fx-cursor: hand;
    -fx-content-display: top;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.PetButtons .graphic {
    -fx-padding: 10;
}

.PetButtons .button:hover
{
    -fx-background-color: #d3d3d3;
}
